@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Thanks to Adam Argyle https://codepen.io/argyleink/pen/abXvVME */
.banner {
  display: grid;

  > * {
    grid-area: 1 / 1;
  }
  .coming-soon {
    background: linear-gradient(to right, #ff4500, #ffd700);
    -webkit-background-clip: text;
    color: transparent;

    &[aria-hidden] {
      filter: blur(clamp(30px, 4vw, 60px)) saturate(2);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
